.ql-toolbar .ql-picker.ql-header .ql-picker-label,
.ql-toolbar .ql-picker.ql-header .ql-picker-item {
    color: black;
    /* Ensure the text is black */
}

.ql-toolbar .ql-picker.ql-header .ql-picker-options {
    background-color: white;
    /* Ensure the background is white */
}

/* Ensure list bullets are visible */
.tiptap-editor ul {
    list-style-type: disc;
    padding-left: 20px;
}

.tiptap-editor ol {
    list-style-type: decimal;
    padding-left: 20px;
}